<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
    </header>
    
    <div class="content-group">
        <div class="content-input">
            <!-- Wrap the drop area and button in a form -->
            <form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
                <div id="drop-area" class="drop-area">
                    <p style="color: #ff66b3">Drag & Drop a file here, or click to select one</p>
                    <input type="file" name="file" id="file" class="file-input" required>
                </div>
                
                <button id="predict-movie-button" type="submit" class="button">
                    What movie is this?
                </button>
            </form>                    
            <!-- Progress bar container -->
            <div class="progress-container" style="display: none;">
                <p>Processing... <span id="progress-text">0%</span></p>
                <div class="progress-bar">
                    <div class="progress-fill" id="progress-fill" style="width: 0%;"></div>
                </div>
            </div>
        </div>        
        <div class="content-output">
            {% if upload_status and movie_name != "No matching movie found." %}
                <h2>Predicted Movie: {{ movie_name }}</h2>
                <p><strong>{{ movie_descriptions.get(movie_name, "This movie doesn’t exist?")[0] }}</strong><br><br>{{ movie_descriptions.get(movie_name, "This movie doesn’t exist?")[1] }}</p>
                
                {% if image %}
                    <img src="{{ image }}" alt="Movie Image" style="max-width: 300px; margin-top: 20px;">
                {% endif %}
            {% elif upload_status %}
                <h2>Predicted Movie: No matching movie found.</h2>
            {% else %}
                <h2>No clip inputted</h2>
            {% endif %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>